@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Sawarabi+Gothic&display=swap');
header {
    width: 100vw;
    height: 55px;
    padding: 20px;
    display: flex;
    align-items: center;
    * {
    text-decoration: none;
    color: #000;
    }
    font-family: "Sawarabi Gothic", sans-serif;
    background-color: #fff;
    .header-items {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    .user-elements {
        display: flex;
        padding: 5px;
    }
}
}