.product {
    position: relative;
    display: grid;
    grid-template-rows: 200px auto;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    background-color: #fff;
    cursor: pointer;
    transition: all .5s;

.product_image_preview {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.product_info {
    display: grid;
    grid-template-rows: 60px auto;
    text-align: center;
    p { 
    margin: 0;
    padding: 0;
    }
    span {
        margin: 15px auto;
        justify-self: end;
        font-weight: 600;
    }
}

.product_cart {
    width: 98%;
    button {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        border: none;
        border-radius: 3px;
        background-color: rgb(39, 137, 170);
        cursor: pointer;
        transition: all .2s;
        span {
            margin: 5px;
        }
    }
}

&:hover {
    transform: scale(1.03);
    transform: translateY(5px);
    transition: all .5s;
}
@media(max-width: 965px) {
    &:hover {
        
    }
}
}