.theBtn {
    width: 100%;
    margin: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(to bottom right, rgb(39, 137, 170) 50%, transparent 50%);
    background-size: 200% 200%;
    transition: all .5s;
    cursor: pointer;
}
.theBtn:hover {
    color: #000;
    border: 1px solid #000;
    background-position: bottom right;
}